/* scene selector */
body > .container {
  display: none;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body[data-scene="noItem"] > .container#noItem {
  display: block;
}

svg {
  height: 100vh;
  width: 100vw;
}
path {
  fill: none;
  stroke: #1a1a1a;
  stroke-width: 0.5px;
  vector-effect: non-scaling-stroke;
}

#list>div, .list {
  height: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/*
.list > .item:first-child:nth-last-child(1) {

}
*/
#noItem > .center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 1em;
  text-align: right;
}

body[data-scene="list"] > .container#list {
  display: block;
}

body[data-scene="viewer"] > .container#viewer {
  display: block;
}

.channelInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid #fefefe 1px;
  background-size: contain;
  background: no-repeat center;
}
.channelInfo>.imagePreview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.descriptionContainer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

.item {
  position: relative;
  height: 50vh;
  width: 25vw;
  background-color: #77a;
}

.item > .descriptionContainer {
  position: absolute;
  height: 100%;
}

.item > .descriptionContainer > .avatar {
  position: absolute;
  height: 5em;
  top: 0.5em;
  right: 0.5em;
}

.item > .descriptionContainer > .avatar > img {
  height: 100%;
}

.item > .descriptionContainer > .info {
  position: absolute;
  bottom: 1em;
  left: 1.5em;
}

.item > .descriptionContainer > .info > .streamer,
.title {
  color: #fefefe;
  font-weight: 700;
}

#viewer {
  color: #fefefe;
}

#viewer > div {
  position: absolute;
}

#viewer > .videoContainer {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#viewer > .videoContainer > #video {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  background-color: #7a7;
}

#viewer > .floatInfoContainer {
  width: 100%;
  height: 100%;
  position: absolute;
}
#viewer > .floatInfoContainer > .head {
  position: absolute;
  font-size: 2em;
  left: 1.5em;
  text-shadow: #000 1px 2px 3px;
}

#viewer > .floatInfoContainer > .bottom {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}

#viewer > .floatInfoContainer > .bottom > .description {
  font-size: 1.2em;
  font-weight: 400;
  text-shadow: #000 1px 1px 3px;
}

#viewer > .floatInfoContainer > .controller {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
}
#viewer > .floatInfoContainer > .controller > .exitButton {
  background-image: url("../images/back.svg");
  background-size: contain;
  width: 2.2em;
  height: 2.2em;
}
#viewer > .floatInfoContainer > #currentViewerCount{
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;

}
.noItem {
  border: none;
}

#none {
  display: none;
}
