
/* scene selector */
body>.container {
  display: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

body[data-scene=noItem]>.container#noItem {
  display: block;
}

svg {
  height: 100vh;
  width: 100vw;
}
path {
  fill: none;
  stroke: #1a1a1a;
  stroke-width: 0.5px;
  vector-effect: non-scaling-stroke;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

#noItem>.center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 1em;
  text-align: right;
}

body[data-scene=list]>.container#list {
  display: block;
}

body[data-scene=viewer]>.container#viewer {
  display: block;
}

.channelInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid #fefefe 1px;
  background-size: contain;
  background: no-repeat center;
}
.descriptionContainer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

.item {
  position: relative;
  height: 50vh;
  width: 25vw;
}

.item > .descriptionContainer {
  position: absolute;
  height: 100%;
}

.item > .descriptionContainer > .avatar {
  position: absolute;
  height: 5em;
  top: 0.5em;
  right: 0.5em;
}

.item > .descriptionContainer > .avatar > img {
  height: 100%;
}

.item > .descriptionContainer > .info {
  position: absolute;
  bottom: 1em;
  left: 1.5em;
}

.item > .descriptionContainer > .info > .streamer, .title {
  color: #fefefe;
  font-weight: 700;
}
.noItem {
  border: none;
}

#none {
  display: none;
}

/* responsive css on mobile */
@media (min-width: 481px) and (max-width: 1024px) {
  .item {
    width: 50%;
    height: 50vh;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .item {
    width: 100%;
    height: 100vh;
  }
}

/* landscape mode */
@media (max-height: 320px) {
  .item {
    width: 50%;
    height: 50vh;
  }
}
