
/* scene selector */
body>.container {
  display: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

body[data-scene=noItem]>.container#noItem {
  display: block;
}

svg {
  height: 100vh;
  width: 100vw;
}
path {
  fill: none;
  stroke: #1a1a1a;
  stroke-width: 0.5px;
  vector-effect: non-scaling-stroke;
}

#noItem>.center {
  position: absolute;
  left: 60%;
  top: 48%;
}

body[data-scene=list]>.container#list {
  display: block;
}

body[data-scene=viewer]>.container#viewer {
  display: block;
}

.channelInfo {
  width: 16em;
  height: 9em;
  border: solid gray 1px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.descriptionContainer {
  display: flex;
}

dl {
  display: flex;
}
dd.item {
  border: solid #efefef 1px;
  height: 100%;
}
.info {
  padding-left: 0.5em;
  height: 100%;
}

.avatar {
  width : 80px;
}

dd.noItem {
  border: none;
}

#none {
  display: none;
}